.cart{

  &-item{
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
  }

  .cart-item_name{
    font-weight: 700;
  }

  &_total-price{
    font-size: 25px;
    span{
      font-weight: 700;
    }
  }

  .regulator{
    display: flex;
    justify-content: center;
    align-items: center;

    p{
      margin: 0 20px;
    }
  }

  #cart-options{
    display: none;
  }

  .collection{
    margin-left: 10px;
    margin-right: 10px;
  }

  .valign-wrapper{
    @media (max-width: 768px){
      display: block;
      .col{
        margin: 10px 0;
      }
      
      .cart-item_price{
        text-align: right;
      }

    }
  }
}