nav{
  background-color: #42a5f5;

  .nav-wrapper{
    max-width: 1000px;
    margin: 0 auto;
  }

  .brand-logo{
    font-family: 'Play';
    font-weight: 400;
    font-size: 30px;
  }

  .material-icons{
    display: flex !important;
    justify-content: center;
    flex-direction: column;

    .burg{
      display: block;
      margin-bottom: 5px;
      width: 25px;
      height: 3px;
      background-color: #fff;
      border-radius: 3px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}