*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  min-height: 100vh;
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 16px;
}

.m{
  &b{
    &-0{
      margin-bottom: 0;
    }
  }
}

main{
 min-height: 1000px;
}

.main-block{
  max-width: 1000px;
  margin: 0 auto;
  display: none;
  padding-top: 30px;
  
  &[data-block="main-block--all"]{
    display: block;
  }
}

.progress{
  margin: 0;
  display: none;
}

