@font-face {
  font-family: "OpenSans";
  src: url(/fonts/OpenSans/OpenSans-Light.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url(/fonts/OpenSans/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url(/fonts/OpenSans/OpenSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  src: url(/fonts/Play/Play-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  src: url(/fonts/Play/Play-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

